<% nb_of_coming_participations = current_user.participations.count do |participation| %>
  <%  Date.today < participation.lesson.date ||  ( Date.today == participation.lesson.date && participation.lesson.starts_at.split(":")[0].to_i >= Time.now.hour )%>
<% end %>
<% nb_of_past_participations = current_user.participations.count do |participation| %>
  <%  Date.today > participation.lesson.date ||  ( Date.today == participation.lesson.date && participation.lesson.starts_at.split(":")[0].to_i < Time.now.hour )%>
<% end %>
<div class="participations-banner">
  <div class="participations-banner-content typewriter">
    <h1>Bienvenue <%=current_user.first_name%> !</h1>
  </div>
</div>
<div class="container-participations">
  <div class="row welcome-my-lessons">
    <div class="welcome-welldone">
      <div><h2><strong>Ton Parcours Lessen</strong></h2></div>
    </div>
    <h4><em style="font-size: 18px; color: black">Tu t'es inscrit(e) à <%=current_user.participations.count %> leçons</em></h4>
  </div>
</div>
<div class="wrapper-cards-upcoming">
  <div class="container">
    <div class="row">
      <div class="upcoming-classes-title" style="color: #f37f7f">
        <h3><strong>Mes leçons à venir</strong></h3>
      </div>
    </div>
    <% if nb_of_coming_participations == 0 %>
      <h4 ><em style="padding-left: 80px">Tu n'as pas de leçons à venir</em></h4>
    <% else %>
      <div class="row"> 
        <% if nb_of_coming_participations < 5 %>
          <%current_user.participations.each do |participation|%>
            <% if Date.today <= participation.lesson.date %>
              <% if  Date.today == participation.lesson.date %>
                <% if participation.lesson.starts_at.split(":")[0].to_i >= Time.now.hour %>
                  <div class="cards-without-carousel">
                    <%= render "shared/upcoming-participation-lesson-class", lesson: participation.lesson, participation: participation %>
                  </div>
                  
                <% end %>
              <% else %>
                <div class="cards-without-carousel">
                  <%= render "shared/upcoming-participation-lesson-class", lesson: participation.lesson, participation: participation %>
                </div>
                
              <% end %>
            <% end %>
          <% end %>
        <% else %>
          <div class="carousel-index">
            <% current_user.participations.order(created_at: :desc).each do |participation| %>
             <!--  <% lesson = participation.lesson %> -->
              <% if Date.today <= participation.lesson.date %>
                <% if  Date.today == participation.lesson.date %>
                  <% if participation.lesson.starts_at.split(":")[0].to_i >= Time.now.hour %>
                    <div class="cards-without-carousel">
                      <%= render "shared/upcoming-participation-lesson-class", lesson: participation.lesson, participation: participation %>
                    </div>
                    
                  <% end %>
                <% else %>
                  <div class="cards-without-carousel">
                    <%= render "shared/upcoming-participation-lesson-class", lesson: participation.lesson, participation: participation %>
                  </div>
                  
                <% end %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>   
</div>
<div class="wrapper-cards-past">
  <div class="container">
    <div class="row past-classes-header">
      <div class="past-classes-title" style="color: #f37f7f">
        <h3><strong>Mes leçons précédentes</strong></h3>
      </div>
    </div>
    <% if nb_of_past_participations == 0 %>
      <h4><em style="padding-left: 80px">Tu n'as pas encore pris de leçon</em></h4>
    <% else %>
      <div class="row">    
      <% if nb_of_past_participations < 5 %>
        <%current_user.participations.each do |participation|%>
          <% if Date.today >= participation.lesson.date %>
            <% if  Date.today == participation.lesson.date %>
              <% if participation.lesson.starts_at.split(":")[0].to_i < Time.now.hour %>
                <div class="cards-without-carousel">
                  <%= render "shared/past-participation-lesson-class", lesson: participation.lesson, participation: participation %>
                </div>
              <% end %>
            <% else %>
              <div class="cards-without-carousel">
                <%= render "shared/past-participation-lesson-class", lesson: participation.lesson, participation: participation %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% else %>
        <div class="carousel-index">
          <%current_user.participations.each do |participation|%>
            <% if Date.today >= participation.lesson.date %>
              <% if  Date.today == participation.lesson.date %>
                <% if participation.lesson.starts_at.split(":")[0].to_i < Time.now.hour %>
                  <div class="cards-without-carousel">
                    <%= render "shared/past-participation-lesson-class", lesson: participation.lesson, participation: participation %>
                  </div>
                <% end %>
              <% else %>
                <div class="cards-without-carousel">
                  <%= render "shared/past-participation-lesson-class", lesson: participation.lesson, participation: participation %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
    </div>
  </div>



</div>

