<% content_for :navbar_id, "navbar_home" %>
<div class="lessen-banner">
  <div class="lessen-banner-content">
    <div class="titles-banner">
      <h1>Cours particuliers en direct, quand vous le souhaitez</h1>
      <div id="textSlider">
        <div class="scroller">
          <div class="inner">
            <p>Plus d'élèves participent, plus le prix diminue</p>
            <p>Partage le cours de ton choix avec tes amis</p>
          </div>
        </div>
      </div>
    </div>
    <div class="search-group">
    <%= simple_form_for :query, method: :get, url: lessons_path, html: { class: "search-bar-home" }  do |f| %>
      <%= f.input :grade, label: false, collection: Lesson::GRADES, selected: @grade, include_blank: "Select your grade", required: false, wrapper_html: { class: "query_grade_home" } %>
      <%= f.input :topic, label: false, collection: Lesson::TOPICS, selected: @topic, include_blank: "Select your subject", required: false, wrapper_html: { class: "query_topic_home" } %>
      <button type="submit" id="btn-lessen-search"> <i class=" fas fa-search"></i></button>
    <% end %>
    </div>
  </div>
</div>




<div class="container-how">
  <div class="row-how-first">
    <h2>Vos professeurs préférés, accessibles dans le monde entier</h2>
  </div>
  <div class="row-how-second">
    <div class="image-student"><%= image_tag("student1.svg", height: 350) %></div>
    <div class="how-column">

      <div class="lign-how-icon">
        <div class="bordure-how"></div>
        <div class="icon-first">
          <div class="circle-how"><%= image_tag("education.png", height: 80) %></div>
        </div>
        <div class="icon-second">
          <div class="circle-how"><%= image_tag("sign.png", height: 70) %></div>
        </div>
        <div class="icon-third">
          <div class="circle-how"><%= image_tag("record.png", height: 60) %></div>
        </div>
      </div>
       <div class="lign-how-icon-text">
          <div class="text-icon-one"><p>Choisi ton cours préféré et inscris toi à l'avance</p></div>
          <div class="text-icon-two"><p>A l'heure du cours, connecte toi sur Lessen pour voir ton cours en live.</p></div>
          <div class="text-icon-three"><p>Le plus de participants, le moins tu paies !</p></div>
       </div>
    </div>
    <div class="image-teacher"><%= image_tag("", height: 100) %></div>
  </div>
</div>
<div class="background-upcoming-cards">
<div class="cards-container">
  <div class="row-title-upcoming">
    <h2>Sur le point de commencer!</h2>
  </div>
  <div class="row maths-row">
    <% @upcoming_lessons.each do |lesson| %>
      <%= render "shared/card", lesson: lesson %>
    <% end %>
  </div>
</div>
</div>
<div class="background-popular-cards" >
  <div class="cards-container">
    <div class="row-title-most-popular">
      <h2>Les plus populaires</h2>
    </div>
    <div class="row french-row">
      <% @ordered_popular_lessons.each do |lesson| %>
        <%= render "shared/card", lesson: lesson %>
      <% end %>
    </div>
  </div>
</div>

<!--
 style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.2)), url('https://images.officeworks.com.au/api/2/img/https://s3-ap-southeast-2.amazonaws.com/wc-prod-pim/JPEG_1000x1000/JA0352400_B_helix_oxford_blue_9_piece_maths_set.jpg/resize?size=706&auth=MjA5OTcwODkwMg__');"
 -->
