
<% content_for :navbar_id, "navbar_home" %>
<div class="lessen-banner">
  <div class="lessen-banner-content">
    <h1>Learn instantly</h1>
    <%= simple_form_for :query, method: :get, url: lessons_path, html: { class: "search-bar-show" }  do |f| %>
      <%= f.input :grade, label: false, collection: Lesson::GRADES, selected: @grade, include_blank: "Select your grade", required: false %>
      <%= f.input :topic, label: false, collection: Lesson::TOPICS, selected: @topic, include_blank: "Select your subject", required: false %>
      <button type="submit" id="search-button-show"> <i class="fas fa-search"></i></button>
    <% end %>
  </div>
</div>
<div class="cards-container">
  <div class="row">
    <div class="col-xs-12 col-sm-3 offset-sm-1">
      <div class="general-info-container">
        <div class="general-info-title">
          <h2>How We Work</h2>
        </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro similique natus perspiciatis? Quod aliquid distinctio alias, molestiae tenetur rem voluptate maiores sequi sed reiciendis deserunt mollitia odit voluptatem illum modi.Lorem ipsum dolor sit amet, consectetur adipisicing elit. <p>
      </div>
    </div>
  </div>
  <h2>Mathématiques</h2>
  <div class="row">
    <% @maths_lessons.each do |lesson| %>
      <div class="col-xs-12 col-sm-3">
         <div class="lesson-card">
          <%= link_to "", lesson_path(lesson), class: "card-link" %>
          <div class="card-header">
            <div class="card-title">
              <h4> <%= lesson.topic %></h4>
              <h5><em><%= lesson.subtopic %></em></h5>
              </div>
            <div class="card-date">
              <p><%= lesson.starts_at.split(":").join("H") %></p>
              <em><%= lesson.date.to_s.split("-").reverse.join("/") %></em>
            </div>
          </div>


         <div class="card-body math-color">
          <div class="card-position-triangle">

           <svg class="card-triangle" height="80" width="300">
             <polygon points="300 0 300 80 0 80" style="fill: #FFE8D1;"  preserveAspectRatio="xMinYMax slice" / >
           </svg>
          </div>
          <div class="card-lesson-info">
            <button class="card-price-button"><%= lesson.next_price_per_user.round(1) %> €</button>
            <h2><%= lesson.name %></h2>
            <p><%= lesson.description.first(300) %></p>
          </div>


         </div>
         <div class="card-footer math-color">
           <img src="<%= asset_path("user-default.jpg") %>" alt="" class="avatar-card">
           <div class="professor-info">
              <p><%=  lesson.teacher.first_name + " " + lesson.teacher.last_name%></p>
              <div class="card-stars">
                <% 5.times do  %>
                  <i class="fas fa-star"></i>
                <% end %>
              </div>

           </div>
         </div>
         </div>
      </div>
    <% end %>
  </div>
  <h2>Français</h2>
  <div class="row">
    <% @french_lessons.each do |lesson| %>
      <div class="col-xs-12 col-sm-3">
         <div class="lesson-card">
          <%= link_to "", lesson_path(lesson), class: "card-link" %>
          <div class="card-header">
            <div class="card-title">
              <h4> <%= lesson.topic %></h4>
              <h5><em><%= lesson.subtopic %></em></h5>
              </div>
            <div class="card-date">
              <p><%= lesson.starts_at.split(":").join("H") %></p>
              <em><%= lesson.date.to_s.split("-").reverse.join("/") %></em>
            </div>
          </div>


         <div class="card-body french-color">
          <div class="card-position-triangle">

           <svg class="card-triangle" height="80" width="300">
             <polygon points="300 0 300 80 0 80" style="fill: #8EA4D2;"  preserveAspectRatio="xMinYMax slice" / >
           </svg>
          </div>
          <div class="card-lesson-info">
            <button class="card-price-button"><%= lesson.next_price_per_user.round(1) %> €</button>
            <h2><%= lesson.name %></h2>
            <p><%= lesson.description.first(300) %></p>
          </div>


         </div>
         <div class="card-footer french-color">
           <img src="<%= asset_path("user-default.jpg") %>" alt="" class="avatar-card">
           <div class="professor-info">
              <p><%=  lesson.teacher.first_name + " " + lesson.teacher.last_name%></p>
              <div class="card-stars">
                <% 5.times do  %>
                  <i class="fas fa-star"></i>
                <% end %>
              </div>

           </div>
         </div>
         </div>
      </div>
    <% end %>
  </div>
</div>


<!--
 style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.2)), url('https://images.officeworks.com.au/api/2/img/https://s3-ap-southeast-2.amazonaws.com/wc-prod-pim/JPEG_1000x1000/JA0352400_B_helix_oxford_blue_9_piece_maths_set.jpg/resize?size=706&auth=MjA5OTcwODkwMg__');"
 -->
