<div class="filter-index">
  <%= simple_form_for :query, method: :get, url: lessons_path, html: { class: "search-bar-index" }, defaults: { input_html: { class: 'search-input-index' } } do |f| %>
    <%= f.input :grade, label: "Classe", collection: Lesson::GRADES, selected: @grade, include_blank: "Select your grade", required: false %>
    <%= f.input :topic, label: "Matière", collection: Lesson::TOPICS, selected: @topic, include_blank: "Select your subject", required: false %>
    <%#= f.label :keyword, "Search by keyword" %>
    <%= f.input :keyword, label: "Mot-clé", input_html: { value: params[:query][:keyword] }, required: false, placeholder: "Trigo, géothermie, ..."  %>
    <%= f.input :range_date , label: "Disponibilités", input_html: { value: params[:query][:range_date] }, required: false%>
    <div class="search-time-index">
      <p>Entre</p>
      <%= f.input :min_time , label: false, input_html: { value: params[:query][:min_time] }, required: false%>
      <p>h et</p>
      <%= f.input :max_time , label: false, input_html: { value: params[:query][:max_time] }, required: false%>
      <p>h</p>
    </div>


    <button type="submit" id="search-button"> <i class="fas fa-search"></i></button>
  <% end %>
</div>
<div class="container">
  <% @lessons.each do |lesson| %>
    <div class="lesson-card">
      <h1><%= lesson.topic %></h1>
      <h2><%= lesson.subtopic %></h2>
      <h3><%= lesson.name %></h3>
    </div>
  <% end %>
</div>

