<div class="container-index  ">
  <div class="row title">
    <h2>Selectionne ton cours</h2>
  </div>
  <div class="row entire-search-bar">
    <div class="col-xs-12 col-md-6">
      <%= simple_form_for :query, method: :get, url: lessons_path, html: { class: "search-bar-index" }, defaults: { input_html: { class: 'search-input-index' } } do |f| %>
        <div class="search-grade-topic-subtopic">
        <%= f.input :grade, label: false, collection: Lesson::GRADES, selected: @grade, include_blank: "Choisi ta classe", required: false %>
        <%= f.input :topic, label: false, collection: Lesson::TOPICS, selected: @topic, include_blank: "Choisi ta matière", required: false %>
        <%#= f.label :keyword, "Search by keyword" %>
        <% keyword = params[:query][:keyword] if params[:query].present? %>
        <%= f.input :keyword, label: false, input_html: { value: keyword }, required: false, placeholder: "Trigo, géothermie, ..."  %>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="search-date-time-index">
        <% range_date =  params[:query][:range_date] if params[:query].present? %>
        <%= f.input :range_date , label: false, input_html: { value: range_date }, required: false, placeholder: "Quand ?"%>
          <% min_time = params[:query][:min_time] if params[:query].present? %>
          <%= f.input :min_time , label: false, input_html: { value: min_time, class: "time-filter"  }, placeholder: "Début", required: false%>
          <% max_time = params[:query][:max_time] if params[:query].present? %>
          <%= f.input :max_time , label: false, input_html: { value: max_time, class: "end-time-end time-filter" }, placeholder: "Fin", required: false%>
        <button type="submit" id="search-button"> <i class="fas fa-search btn-lessen-search-index"></i></button>
        </div>

    </div>
  </div>
</div>
<div class="container-sort">
  <div class="sort-by">
    <% sort_by =  params[:query][:sort_by] if params[:query].present? %>
      <%= f.input  :sort_by, label: "Trier par", collection: ["prix", "note"], selected: sort_by, required: false%>
    <% end %>
  </div>
</div>

<div class="cards-container">
  <div class="row">
    <% @lessons.each do |lesson| %>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="lesson-card">
          <%= link_to "", lesson_path(lesson), class: "card-link" %>
          <div class="card-header">
            <div class="card-title">
              <h4> <%= lesson.topic %></h4>
              <h5><em><%= lesson.subtopic %></em></h5>
            </div>
            <div class="card-date">
              <p><%= lesson.starts_at.split(":").join("H") %></p>
              <em><%= lesson.date.to_s.split("-").reverse.join("/") %></em>
            </div>
          </div>

        <% if lesson.topic == "Français" %>
          <div class="card-body" style="background-color: #FF5964; fill: #FF5964;" %>
        <% elsif lesson.topic == "Mathématiques" %>
          <div class="card-body" style="background-color: #35A7FF; fill: #35A7FF;" %>
        <% elsif lesson.topic == "Physique-chimie" %>
          <div class="card-body" style="background-color: #FFE74C; fill: #FFE74C;" %>
        <% elsif lesson.topic == "SVT" %>
          <div class="card-body" style="background-color: #6BF178; fill: #6BF178;" %>
        <% elsif lesson.topic == "Philosophie" %>
          <div class="card-body" style="background-color: #e75a7c; fill: #e75a7c;" %>
        <% end %>

            <div class="card-position-triangle">
              <svg class="card-triangle" height="80" width="300">
                <polygon points="295 0 295 80 0 80" preserveAspectRatio="xMinYMax slice" / >
              </svg>
            </div>
            <div class="card-lesson-info">
              <button class="card-price-button"><%= lesson.next_price_per_user.round(1) %> €</button>
              <h2><%= lesson.name %></h2>
              <p><%= lesson.description.first(300) %></p>
            </div>
          </div>

          <% if lesson.topic == "Français" %>
            <div class="card-footer" style="background-color: #FF5964; fill: #FF5964;" %>
          <% elsif lesson.topic == "Mathématiques" %>
            <div class="card-footer" style="background-color: #35A7FF; fill: #35A7FF;" %>
          <% elsif lesson.topic == "Physique-chimie" %>
            <div class="card-footer" style="background-color: #FFE74C; fill: #FFE74C;" %>
          <% elsif lesson.topic == "SVT" %>
            <div class="card-footer" style="background-color: #6BF178; fill: #6BF178;" %>
          <% elsif lesson.topic == "Philosophie" %>
            <div class="card-footer" style="background-color: #e75a7c; fill: #e75a7c;" %>
          <% end %>
            <img src="<%= asset_path("user-default.jpg") %>" alt="" class="avatar-card">
            <div class="professor-info">
              <p><%=  lesson.teacher.first_name + " " + lesson.teacher.last_name%></p>
              <div class="card-stars">
                <% sum = 0 %>
                <%  lesson.teacher.reviews.each do |review| %>
                  <% sum += review.rating %>
                <% end %>
                <%  rating = sum.fdiv(lesson.teacher.reviews.count).round%>
                <% rating.times do  %>
                  <i class="fas fa-star"></i>
                <% end %>
              </div>
           </div>
         </div>
        </div>
      </div>
    <% end %>
  </div>

</div>

