<div class="container-index">
  <div class="row title">
    <h2>Selectionne ton cours</h2>
  </div>
  <div class="row entire-search-bar">
    <div class="col-xs-12 col-md-6">
      <%= simple_form_for :query, method: :get, url: lessons_path, html: { class: "search-bar-index" }, defaults: { input_html: { class: 'search-input-index' } } do |f| %>
        <div class="search-grade-topic-subtopic">
        <%= f.input :grade, label: false, collection: Lesson::GRADES, selected: @grade, include_blank: "Choisi ta classe", required: false %>
        <%= f.input :topic, label: false, collection: Lesson::TOPICS, selected: @topic, include_blank: "Choisi ta matière", required: false %>
        <%#= f.label :keyword, "Search by keyword" %>
        <% keyword = params[:query][:keyword] if params[:query].present? %>
        <%= f.input :keyword, label: false, input_html: { value: keyword }, required: false, placeholder: "Trigo, géothermie, ..."  %>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="search-date-time-index">
        <% range_date =  params[:query][:range_date] if params[:query].present? %>
        <%= f.input :range_date , label: false, input_html: { value: range_date }, required: false, placeholder: "Quand ?"%>
          <% min_time = params[:query][:min_time] if params[:query].present? %>
          <%= f.input :min_time , label: false, input_html: { value: min_time, class: "time-filter"  }, placeholder: "Début", required: false%>
          <% max_time = params[:query][:max_time] if params[:query].present? %>
          <%= f.input :max_time , label: false, input_html: { value: max_time, class: "end-time-end time-filter" }, placeholder: "Fin", required: false%>
        <button type="submit" id="search-button"> <i class="fas fa-search btn-lessen-search-index"></i></button>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="cards-container">
  <div class="row">
    <% @lessons.each do |lesson| %>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <%= render 'shared/card', lesson: lesson %>
      </div>
    <% end %>
  </div>

</div>

