<!-- Don't delete this line ! 👇 -->
<div id="chat_lesson" data-lesson-id="<%= @lesson.id %>" data-current-id="<%= current_user.id %>"></div>
<!-- Don't delete this line ! ☝️ -->
<div class="main-live">


  <div class="livevideo">
    <iframe width="100%" height="100%" src="https://player.twitch.tv/?channel=nickatic" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="current-lesson-infos">
      <h4>Prix par élèves : <%= @lesson.price_per_user.round(2) %> €</h4>
    </div>
  </div>



  <div class="chat">
    <!-- <div class="chat-header"><h4><#%= @lesson.name %> chatroom</h4></div> -->
    <div class="messages">
      <% @lesson.messages.each do |message| %>
      <%= render "messages/message", message: message, user_is_messages_author: message.user == current_user, user_is_teacher: message.user_is_teacher? %>
      <% end %>
    </div>
    <div id="create-message">
      <%= simple_form_for [ @lesson, Message.new ], remote: true do |f| %>
      <%= f.input :content, label: false, placeholder: "Type here" %>
      <%= f.submit "Add message", class: "btn btn-blue", id: "chat-btn" %>
      <% end %>
    </div>
  </div>

</div>


<div class="nombres-participants-live">
  <h4>Elèves : <%= @lesson.participations.count %></h4>
</div>
 <div class="show-lesson-live">
   <div class="first-column">
     <h1><%=@lesson.name%></h1>
     <h4><strong><%=@lesson.subtopic%></strong> </h4>
     <h4><%=@lesson.topic%></h4>
     <h6><em><%= @lesson.duration%> minutes</em></h6>
       <div class="box-description">
         <h4>A propos du cours</h4>
         <p>Contrairement à une opinion répandue, le Lorem Ipsum n'est pas simplement du texte aléatoire. Il trouve ses racines dans une oeuvre de la littérature latine classique datant de 45 av. J.-C., le rendant vieux de 2000 ans. Un professeur du Hampden-Sydney College, en Virginie, s'est intéressé à un des mots latins les plus obscurs, consectetur, extrait d'un passage du Lorem Ipsum, et en étudiant tous les usages de ce mot dans la littérature classique.</p>
         <h1 class="lign-a"></h1>
         <div class="bordure"></div>
         <h1 class="lign-a"></h1>
         <h4>Compétences dans cette classe</h4>
         <p>
         L'extrait standard de Lorem Ipsum utilisé depuis le XVIè siècle est reproduit ci-dessous pour les curieux. Les sections 1.10.32 et 1.10.33 du "De Finibus Bonorum et Malorum" de Cicéron sont aussi reproduites dans leur version originale, accompagnée de la traduction anglaise de H. Rackham (1914).
         </p>
         <h1 class="lign-a"></h1>
         <div class="bordure"></div>
         <h1 class="lign-a"></h1>
         <h4>Objectifs</h4>
         <p>1. Formules de multiplication des arcs</p>
         <p>2. Identité remarquable</p>
         <p>3. Fonctions trigonométriques</p>
       </div>

   </div>
   <div class="second-column">
     <div class="card-profile">
       <h3>Le professeur</h3>
       <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large"/>
       <h5><%=@lesson.teacher.first_name%> <%=@lesson.teacher.last_name%></h5>
       <p>I’m a math teacher and absolutely love sharing my knowledge. My specialties are in trigonometry, probabilities and functions. I hope you enjoy these 45 minutes with me :) </p>
       <h1 class="lign-a"></h1>
       <h1 class="lign-a"></h1>
       <%= link_to "Voir le profil", user_path(@lesson.teacher),  class:"text-space-profile" %>
       <h4>Avis sur ce professeur:</h4>
     </div>

     <div class="review-box" id="reviews_list">
       <% if @lesson.teacher.reviews.blank? %>
         <strong>Pas d'avis d'élèves pour ce professeur</strong>
       <% else %>
         <div id="reviews_list">
           <%= render 'reviews/index', reviews: @lesson.teacher.reviews.order(created_at: :desc) %>
         </div>
       <% end %>
     </div>
   </div>
 </div>
