
<% content_for :meta_title, "#{@lesson.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @lesson.description %>
<%# content_for :meta_image, cl_image_path(@lesson.photo.path) %>

<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="container-modal">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalCenterTitle">Ton inscription au cours "<strong><%= @lesson.name %></strong></h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body modal2body">
          <% if @lesson.participations.any? %>
            <p>Prix d'origine : <strong><%= @lesson.price.round %>€</strong></p>
            <p>Inscrits : <strong><%= @lesson.participations.count + 1 %></strong></p>
            <p>Prix actuel : <strong><%= @lesson.next_price_per_user.round(1) %>0€</strong></p>
          <% else %>
            <p>Prix actuel : <strong><%= @lesson.price.round %>€</strong></p>
            <p>Propose à tes camarades de rejoindre ce cours pour faire baisser le prix!</p>
          <% end %>
          <span class="boldeddate">le <%= @lesson.date.strftime('%d %b') %> à <%= @lesson.starts_at.split(":").join("H") %></span>
          </p>
        </div>
         <div class="modal-footer">
          <div class="btn-inscription">
            <%= link_to "Confirmer mon inscription", lesson_participations_path(@lesson), method: :post, class: "btn-lessen" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="lesson-banner">
  <div class="lesson-banner-content">
    <%= image_tag("logo-lessen.png", height: 80) %>
    <p>Découvres les cours de nos professeurs</p>
  </div>
</div>

<div class="container-showlessons">
  <div class="first-column">
    <h1><%=@lesson.name%></h1>
    <h4><strong><%=@lesson.subtopic%></strong> </h4>
    <div class="card-title-topic">
      <% if @lesson.topic == "Français" %>
        <h4 style="background-color: #EA8C55;"><%=@lesson.topic %></h4>
      <% elsif @lesson.topic == "Mathématiques" %>
        <h4 style="background-color: #c75146;"><%=@lesson.topic %></h4>
      <% elsif @lesson.topic == "Physique-chimie" %>
        <h4 style="background-color: #540804;" %><%=@lesson.topic %></h4>
      <% elsif @lesson.topic == "SVT" %>
        <h4 style="background-color: #32493E;" %><%=@lesson.topic %></h4>
      <% elsif @lesson.topic == "Philosophie" %>
        <h4 style="background-color: #3d588e;" %><%=@lesson.topic %></h4>
      <% end %>
    </div>
    <h4><%=@lesson.topic%></h4>
    <h6><em><%= @lesson.duration%> minutes</em></h6>
    <div class="box-description">
    <h4>A propos du cours</h4>
    <p><%= @lesson.description %></p>
    <h1 class="lign-a"></h1>
    <div class="bordure"></div>
    <h1 class="lign-a"></h1>
    <h4>Compétences dans cette classe</h4>
    <div class="disposition-tag">
      <% @lesson.skills.each do |skill| %>
        <div class="tag-word">
          <p><%= skill.name %></p>
        </div>
      <% end %>
    </div>
    <h1 class="lign-a"></h1>
    <div class="bordure"></div>
    <h1 class="lign-a"></h1>
    <h4>Objectifs</h4>
    <div class="disposition-tag">
      <ul>
        <% @lesson.objectives.each do |objectif| %>
          <li><%= objectif.name %></li>
        <% end %>
      </ul>
    </div>
  </div>

  </div>
  <div class="second-column">
    <div class="price text-center ">
      <% if current_user.participations.any? { |participation| participation.lesson_id == @lesson.id}  %>
        <div class="price-box">
                <div class="live-price-size">

                  <h4 > <%= @lesson.price_per_user.round(1) %>0<i class="fas fa-euro-sign fa-xs"></i></i </h4>

                </div>
                <div class="participants-live">
                  <h4><%= @lesson.participations.count %> <i class="fas fa-users"></i> </h4>
                </div>
              </div>
        <h1 class="lign-a"></h1>
        <div class="bordure"></div>
        <h1 class="lign-a"></h1>
        <div class="live-countdown-text">
          <p>Commence dans</p>
        </div>
        <div id="live-countdown" data-starts-at="<%= "#{@lesson.date.to_s.gsub('-', '/')} #{@lesson.starts_at}:00" %>" style= "font-family: 'PT Sans Caption', sans-serif;"></div>
        <div class="btn-position">
          <%= link_to "Rejoindre le Live", lesson_live_path(@lesson), class: "btn-lessen-show"%>
        </div>
      <% else %>
        <div class="price-box">
          <div class="live-price-size">

            <h4> <%= @lesson.next_price_per_user.round(1) %>0<i class="fas fa-euro-sign fa-xs"></i></h4>

          </div>
          <div class="participants-live">
            <h4><%= @lesson.participations.count %> <i class="fas fa-users"></i> </h4>
          </div>
        </div>
        <h1 class="lign-a"></h1>
        <div class="bordure"></div>
        <h1 class="lign-a"></h1>
        <div class="lesson-date-time" style= "font-family: 'PT Sans Caption', sans-serif";>
          <p> Le <%= @lesson.date.to_s.split("-").reverse.join("/") %> à <%= @lesson.starts_at %></p>
        </div>
        <div class="btn-position">
          <button class="btn-lessen-show" data-toggle="modal", data-dismiss="modal" data-target="#exampleModalCenter2">S'inscrire</button>
        </div>
      <% end %>
    </div>
    <div class="card-review-profile">
      <div class="card-profile">
        <h3>Le professeur</h3>
        <div class="teacher-title">
          <% if @lesson.teacher.photo_user.present? %>
            <%= cl_image_tag(@lesson.teacher.photo_user, class: "avatar-large") %>
          <% else %>
            <%= cl_image_tag(image_path("user-default.jpg"), class: "avatar-large") %>
          <% end %>
          <h5><%=@lesson.teacher.first_name%> <%=@lesson.teacher.last_name%></h5>
        </div>
        <p>J'ai vécu à Paris jusque mes 18 ans au lycée Jeannine Manuel. Je suis partie étudier les mathématiques quantiques et la neuroscience à Northwestern University aux Etats Unis. J'ai découvert là-bas mon interêt pour transmettre l'apprentissage à autrui et en revenant à Paris, j'ai décidé de commencer une carrière en tant que professeur de mathématiques.</p>
        <h1 class="lign-a"></h1>
        <h1 class="lign-a"></h1>
        <%= link_to "Voir le profil", user_path(@lesson.teacher),  class:"text-space-profile" %>
          <h1 class="lign-a"></h1>
          <div class="bordure"></div>
          <h1 class="lign-a"></h1>
        <h4>Avis sur ce professeur:</h4>
      </div>
      <div class="review-box" id="reviews_list">
        <% if @lesson.teacher.reviews.blank? %>
          <strong>Pas d'avis d'élèves pour ce professeur</strong>
        <% else %>
          <div id="reviews_list">
            <%= render 'reviews/index', reviews: @lesson.teacher.reviews.order(created_at: :desc) %>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
<% if @related_lessons.count > 0 %>
  <div class="background-related-cards">
    <div class="card-container-show">
      <h3 class="title-sur">Sur le même sujet</h3>
      <div class="row">
        <% @related_lessons.each do |lesson| %>
            <%= render 'shared/card', lesson: lesson %>
        <% end %>
      </div>
    </div>
  </div>

<% end %>
