<% content_for :meta_title, "#{@lesson.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @lesson.description %>
<%# content_for :meta_image, cl_image_path(@lesson.photo.path) %>

<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="container-modal">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalCenterTitle">Félicitations!</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body modal2body">
          <h4>Tu t'es inscrite au cours</h4>
          <h4>'<strong><%= @lesson.name %></strong>'</h4>
          <p> Prix actuel: <%= @lesson.price_per_user.round(2) %></p>
          <p> N'oublie pas de te reconnecter sur Lessen</p>
          <p>le <strong><%= @lesson.date.to_s.split("-").reverse.join("/") %></strong> à <strong><%= @lesson.starts_at.split(":").join("H") %></strong>
          </p>
        </div>
         <div class="modal-footer">
          <div class="btn-position">
            <%= link_to "Confirmer mon inscription", lesson_participations_path(@lesson), method: :post, class: "btn-lessen" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-showlessons">
  <div class="first-column">
    <h1><%=@lesson.name%></h1>
    <h4><strong><%=@lesson.subtopic%></strong> </h4>
    <div class="card-title-topic">
      <% if @lesson.topic == "Français" %>
        <h4 style="background-color: #EA8C55;"><%=@lesson.topic %></h4>
      <% elsif @lesson.topic == "Mathématiques" %>
        <h4 style="background-color: #c75146;"><%=@lesson.topic %></h4>
      <% elsif @lesson.topic == "Physique-chimie" %>
        <h4 style="background-color: #540804;" %><%=@lesson.topic %></h4>
      <% elsif @lesson.topic == "SVT" %>
        <h4 style="background-color: #32493E;" %><%=@lesson.topic %></h4>
      <% elsif @lesson.topic == "Philosophie" %>
        <h4 style="background-color: #3d588e;" %><%=@lesson.topic %></h4>
      <% end %>
    </div>
    <h6><em><%= @lesson.duration%> minutes</em></h6>
    <div class="box-description">
    <h4>A propos du cours</h4>
    <p>Contrairement à une opinion répandue, le Lorem Ipsum n'est pas simplement du texte aléatoire. Il trouve ses racines dans une oeuvre de la littérature latine classique datant de 45 av. J.-C., le rendant vieux de 2000 ans. Un professeur du Hampden-Sydney College, en Virginie, s'est intéressé à un des mots latins les plus obscurs, consectetur, extrait d'un passage du Lorem Ipsum, et en étudiant tous les usages de ce mot dans la littérature classique.</p>
    <h1 class="lign-a"></h1>
    <div class="bordure"></div>
    <h1 class="lign-a"></h1>
    <h4>Compétences dans cette classe</h4>
    <p>
    L'extrait standard de Lorem Ipsum utilisé depuis le XVIè siècle est reproduit ci-dessous pour les curieux. Les sections 1.10.32 et 1.10.33 du "De Finibus Bonorum et Malorum" de Cicéron sont aussi reproduites dans leur version originale, accompagnée de la traduction anglaise de H. Rackham (1914).
    </p>
    <h1 class="lign-a"></h1>
    <div class="bordure"></div>
    <h1 class="lign-a"></h1>
    <h4>Objectifs</h4>
    <p>1. Formules de multiplication des arcs</p>
    <p>2. Identité remarquable</p>
    <p>3. Fonctions trigonométriques</p>
    <p>4. Formules de multiplication des arcs</p>
    <p>5. Identité remarquable</p>
    <p>6. Fonctions trigonométriques</p>
    </div>
  </div>

  <div class="second-column">
    <div class="price text-center review-container">
      <% if current_user.participations.any? { |participation| participation.lesson_id == @lesson.id}  %>
        <div class="price-box">
                <div class="live-price">
                  <h4> <%= @lesson.price_per_user.round(2) %><i class="fas fa-euro-sign fa-xs"></i> /<i class="fas fa-xs fa-user"></i> </h4>
                </div>
                <div class="participants-live">
                  <h4><%= @lesson.participations.count %> <i class="fas fa-users"></i> </h4>
                </div>
              </div>
        <div class="btn-position">
          <%= link_to "Rejoindre le Live", lesson_live_path(@lesson), class: "btn-lessen"%>
        </div>
      <% else %>
        <div class="price-box">
          <div class="live-price">
            <h4> <%= @lesson.price_per_user.round(2) %><i class="fas fa-euro-sign fa-xs"></i> /<i class="fas fa-xs fa-user"></i> </h4>
          </div>
          <div class="participants-live">
            <h4><%= @lesson.participations.count %> <i class="fas fa-users"></i> </h4>
          </div>
        </div>
        <div class="btn-position">
          <button class="btn-lessen" data-toggle="modal", data-dismiss="modal" data-target="#exampleModalCenter2">S'inscrire</button>
        </div>
        <!-- <div class="btn-position">
          <#%= link_to "S'inscrire", lesson_participations_path(@lesson), method: :post, class: "btn-lessen" %>

        </div> -->
      <% end %>
    </div>
    <div class="card-review-profile">
      <div class="card-profile">
        <h3>Le professeur</h3>
        <div class="teacher-title">
          <% if @lesson.teacher.photo_user.present? %>
            <%= cl_image_tag(@lesson.teacher.photo_user, class: "avatar-large") %>
          <% else %>
            <%= cl_image_tag(image_path("user-default.jpg"), class: "avatar-large") %>
          <% end %>
          <h5><%=@lesson.teacher.first_name%> <%=@lesson.teacher.last_name%></h5>
        </div>
        <p>I’m a teacher and absolutely love sharing my knowledge. I hope you enjoy these 45 minutes with me :) </p>
        <h1 class="lign-a"></h1>
        <h1 class="lign-a"></h1>
        <%= link_to "Voir le profil", user_path(@lesson.teacher),  class:"text-space-profile" %>
          <h1 class="lign-a"></h1>
          <div class="bordure"></div>
          <h1 class="lign-a"></h1>
        <h4>Avis sur ce professeur:</h4>
      </div>
      <div class="review-box" id="reviews_list">
        <% if @lesson.teacher.reviews.blank? %>
          <strong>Pas d'avis d'élèves pour ce professeur</strong>
        <% else %>
          <div id="reviews_list">
            <%= render 'reviews/index', reviews: @lesson.teacher.reviews.order(created_at: :desc) %>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
<% if @related_lessons.count > 0 %>
  <div class="background-related-cards">
    <div class="card-container-show">
      <h3 class="title-sur">Sur le même sujet</h3>
      <div class="row">
        <% @related_lessons.each do |lesson| %>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <%= render 'shared/card', lesson: lesson %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

<% end %>

