<div class="container-showlessons">
  <div class="first-column">
    <h1><%=@lesson.name%></h1>
    <h4><strong><%=@lesson.subtopic%></strong> </h4>
    <h4><%=@lesson.topic%></h4>
    <h6><em><%= @lesson.duration%> minutes</em></h6>
    <div class="box-description">
    <h4>A propos du cours</h4>
    <p><%= @lesson.description %></p>
    <h1 class="lign-a"></h1>
    <div class="bordure"></div>
    <h1 class="lign-a"></h1>
    <h4>Compétences dans cette classe</h4>
    <div class="tag-word">
      <p><%= @lesson.skills %></p>
    </div>
    <h1 class="lign-a"></h1>
    <div class="bordure"></div>
    <h1 class="lign-a"></h1>
    <h4>Objectifs</h4>
    <p><%= @lesson.objectives %></p>
  </div>

  </div>
  <div class="second-column">
    <div class="price text-center review-container">
      <% if current_user.participations.any? { |participation| participation.lesson_id == @lesson.id}  %>
        <div class="price-box">
                <div class="live-price">
                  <h4> <%= @lesson.price_per_user.round(2) %><i class="fas fa-euro-sign fa-xs"></i> /<i class="fas fa-xs fa-user"></i> </h4>
                </div>
                <div class="participants-live">
                  <h4><%= @lesson.participations.count %> <i class="fas fa-users"></i> </h4>
                </div>
              </div>
        <div class="btn-position">
          <%= link_to "Rejoindre le Live", lesson_live_path(@lesson), class: "btn-lessen"%>
        </div>
      <% else %>
        <div class="price-box">
          <div class="live-price">
            <h4> <%= @lesson.price_per_user.round(2) %><i class="fas fa-euro-sign fa-xs"></i> /<i class="fas fa-xs fa-user"></i> </h4>
          </div>
          <div class="participants-live">
            <h4><%= @lesson.participations.count %> <i class="fas fa-users"></i> </h4>
          </div>
        </div>
        <div class="btn-position">
          <%= link_to "S'inscrire", lesson_participations_path(@lesson), method: :post, class: "btn-lessen" %>

        </div>
      <% end %>
    </div>
    <div class="card-review-profile">
      <div class="card-profile">
        <h3>Le professeur</h3>
        <div class="teacher-title">
          <% if @lesson.teacher.photo_user.present? %>
            <%= cl_image_tag(@lesson.teacher.photo_user, class: "avatar-large") %>
          <% else %>
            <%= cl_image_tag(image_path("user-default.jpg"), class: "avatar-large") %>
          <% end %>
          <h5><%=@lesson.teacher.first_name%> <%=@lesson.teacher.last_name%></h5>
        </div>
        <p>I’m a teacher and absolutely love sharing my knowledge. I hope you enjoy these 45 minutes with me :) </p>
        <h1 class="lign-a"></h1>
        <h1 class="lign-a"></h1>
        <%= link_to "Voir le profil", user_path(@lesson.teacher),  class:"text-space-profile" %>
          <h1 class="lign-a"></h1>
          <div class="bordure"></div>
          <h1 class="lign-a"></h1>
        <h4>Avis sur ce professeur:</h4>
      </div>
      <div class="review-box" id="reviews_list">
        <% if @lesson.teacher.reviews.blank? %>
          <strong>Pas d'avis d'élèves pour ce professeur</strong>
        <% else %>
          <div id="reviews_list">
            <%= render 'reviews/index', reviews: @lesson.teacher.reviews.order(created_at: :desc) %>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
<% if @related_lessons.count > 0 %>
  <div class="background-related-cards">
    <div class="card-container-show">
      <h3 class="title-sur">Sur le même sujet</h3>
      <div class="row">
        <% @related_lessons.each do |lesson| %>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <%= render 'shared/card', lesson: lesson %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

<% end %>

